.rbe1001robot {
    content:url(/pictures/rbe1001/1001Robot.jpg);
}
.rbe1001claw {
    content:url(/pictures/rbe1001/1001claw.jpg);
}
.rbe1001box {
    content:url(/pictures/rbe1001/1001box.jpg);
}
.rbe1001drive {
    content:url(/pictures/rbe1001/1001drive.jpg);
}
.rbe1001rd4b {
    content:url(/pictures/rbe1001/1001rd4b.jpg);
}